@media screen and (max-width: 768px) {

    .slider__nav-dots {
        left: 95%;
    }

}

@media screen and (max-width: 440px) {

    .slider__item-info-title {
        font-size: 25px;
    }

    .slider__nav-dots {
        left: 95%;
    }

}