.page-header {
    display: block;
    position: fixed;
    z-index: 9990;
    height: $header-height;
    width: 100%;
    background-color: $header-color;
}

.page-header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page-header__logo {
    display: block;
}

.page-header__logo-position {
    padding: 0;
    margin: 0;
}

.page-header__logo-link {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    color: $logo;
}

.page-header__nav {
    display: inline-flex;
    margin-left: auto;
    gap: 20px; 
}

.page-header__nav-item {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: $nav-link;
}

.page-header__login-menu {
    display: flex;
    width: $login-menu-width;
}

.page-header__login-menu_margin-left {
    margin-left: 10px;
}

.page-header__login-link {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 19;
    text-decoration: none;
    color: $login-link;
    width: $login-menu-width;
    height: $header-height;
}

.page-header__login-icon {
    display: block;
    margin-right: 5px;
}

.page-header__login-menu-item {
    display: inline-flex;
    align-items: center;
    height: $header-height;
    position: relative;
}

.page-header__user-name {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 19;
    text-decoration: none;
    height: $header-height;
    width: $login-menu-width;
    background: transparent;
    box-sizing: border-box;
    color: $login-link;
    &:hover {
        color: $login-link-hover;
    }
}

.page-header__login-submenu {
    display: block;
    position: absolute;
    z-index: 9991;
    width: $login-menu-width;
    top: $header-height;
    background-color: $login-submenu-background;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 4px 4px;
}

.page-header__login-submenu_active {
    visibility: visible;
    opacity: 1;
}

.page-header__login-submenu-item {
    display: block;
    height: $header-height;
}

.page-header__logout-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 4px 4px;
}

.page-header__logout-form-input {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    color: $logout-link;
    border-radius: 0 0 4px 4px;
    &:hover {
        background-color: rgb(37, 37, 37);
    }
}
