// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// General colors
$white: #fff;
$black: #000;
$bodyColor: #F4F4F4;
$searchIcon: #828282;
$loginIcon: #828282;
$upcomingEventsWidget: #D3D3D3;
$borderCategoryPostWrp: #D8D8D8;
$buttonsColor: #FF0000;

// Slider
$sliderTitleItem: #FF0000;

// Single Post Captions
$singlepostCaption: #828282;
$singlepostReplyButton: #FF0000;

// Category page
$categoryDateText: rgb(165, 165, 165);
$categoryCatText: rgb(165, 165, 165);

// Measured
$siteWight: 1200px;
$sliderHeight: 400px;
$upcomingEventsHeight: 70px;
$upcomingEventsTitleBlock_Width: 171px;


/** 
 * Fonts mixin
 */

// Main menu 

@mixin logoFont {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
};

@mixin menuItemFont {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
};

@mixin menuLoginLink {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

@mixin menuSubmenuText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

@mixin menuUserName {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

// Slider on main page

@mixin SliderItemTitleText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
}

@mixin SliderItemButtonText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

// Upcoming widget

@mixin upcomingEventsTitle {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
};

@mixin UEwidgetRaceLeague {
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

@mixin UEwidgetNameRace {
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
}

@mixin UEwidgetDate {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

// Main page content

@mixin MainContentPostsTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

@mixin PostCategoryTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

@mixin PostInfoTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

@mixin PostInfoDescText {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

@mixin PostInfoDateText {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 13px;
}

@mixin PostInfoLinkText {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 13px;
}

// Banners

@mixin MainBannerTitleText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

@mixin MainBannerDescText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

@mixin MainBannerButtonText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

@mixin BannerSidebarTitleText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

// Category page

@mixin CategoryPostTitleText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

@mixin CategoryPostDescText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@mixin CategoryPostDateText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

@mixin CategoryPostCatText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

// Load More button

@mixin LoadMoreButtonText {
    font-family: 'Jost';
}

// Coverage block

@mixin CoveragePostTitleText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

@mixin CoveragePostDateText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 97.68%;
}

// Footer

@mixin FooterGridItemTitleText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}

@mixin FooterGridItemListText {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}

@mixin FooterCopyrightText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

@mixin FooterCopyrightLinksText {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

// Single post page fonts

@mixin BreadcrumbsLinkText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@mixin SinglePagePostsTitle {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

@mixin SinglePagePostsText {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}