.footer {
    display: block;
    position: relative;
    max-width: $siteWight;
    padding: 0;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 35px auto;
    grid-template-areas: 
        "header header header header header"
        "footer footer footer footer footer";
    min-height: 190px;
    background-color: #F1F1F1;
    width: 100%;
}

.footer_gird_item_title {
    @include FooterGridItemTitleText;
    text-transform: uppercase;
}

.footer_grid_header {
    grid-area: header;
}

.footer_grid_item {
    justify-self: center;
    align-self: start;
}

.footer_grid_list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    & li {
        margin: 0;
        line-height: 12px;
    }
}

.grid_list_item {
    text-decoration: none;
    text-transform: uppercase;
    @include FooterGridItemListText;
    color: $black;
}

.footer_copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    min-height: 25px;
}

.copyright {
    @include FooterCopyrightText;
    text-transform: uppercase;
    margin-left: 10px;
    color: $white;
}

.footer_links {
    @include FooterCopyrightLinksText;
    color: $white;
    margin-right: 10px;
    & a {
        text-decoration: none;
        @include FooterCopyrightLinksText;
        color: $white;
    }
}