@import 'variables';


/* 
 * Header section
 */

.menu {
    width: $siteWight;
    height: 56px;
    position: fixed;
    z-index: 9998;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
}

.menu_nav {
    display: flex;
    flex-direction: row;
}

.menu_site_title {
    margin-left: 35px;
}

.menu_site_title_link {
    @include logoFont;
    color: $white;
    text-decoration: none;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu_item {
    @include menuItemFont;
    text-transform: uppercase;
    margin-right: 20px;
    color: $white;
    text-decoration: none;
}

.menu_user_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

.menu_search {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.menu_login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_wrp {
    display: block;
    position: relative;
    &:hover .menu_submenu {
        overflow: visible;
        opacity: 1;
    }
}

.menu_main_submenu {
    display: flex;
    align-items: center;
    &:hover .menu_submenu {
        overflow: visible;
        opacity: 1;
    }
}

.menu_submenu {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9999;
    padding: 5px;
    overflow: hidden;
    opacity: 0;
}

.menu_submenu_item {
    display: block;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.menu_user_logout {
    cursor: pointer;
    & input[type="submit"] {
        @include menuSubmenuText;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}

.menu_login_link {
    @include menuLoginLink;
    text-decoration: none;
    margin-left: 5px;
    color: $white;
}

.menu_user_name {
    @include menuUserName;
    text-decoration: none;
    margin-left: 5px;
    color: $white;
}

