.breadcrumbs {
    display: block;
    width: 100%;
    & p {
        @include BreadcrumbsLinkText;
        padding: 1.5em 0 1.5em 2em;
    }
}

.breadcrumbs_link {
    text-decoration: none;
}

.singlepost_title {
    display: block;
    width: 100%;
    height: auto;
    & h1 {
        @include SinglePagePostsTitle;
        text-transform: uppercase;
        margin-left: 1em;
        margin-top: 0.1em;
        margin-bottom: 0.5em;
    }
}

.singlepost_text {
    @include SinglePagePostsText;
    color: $black;
    padding-bottom: 1em;
}

.post_content {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1.5em;
}

// Headers 

.singlepost_header_2 {
    @include SinglePagePostsTitle;
    font-size: 28px;
}

.singlepost_header_3 {
    @include SinglePagePostsTitle;
    font-size: 25px;
}

.singlepost_header_4 {
    @include SinglePagePostsTitle;
    font-size: 23px;
}

.singlepost_header_5 {
    @include SinglePagePostsTitle;
    font-size: 20px; 
}

// Lists

.singlepost_list_ol {
    margin: 0.5em 0.5em 1em 0.5em;
}

.singlepost_list_ul {
    margin: 0.5em 0.5em 1em 0.5em;
}

.singlepost_list_li {
    @include SinglePagePostsText;
    color: $black;
}

// Images

.singlepost_image_wrp {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.singlepost_image {
    max-width: 800px;
}

// Captions

.singlepost_caption {
    display: flex;
    justify-content: center;
    @include SinglePagePostsText;
    font-style: italic;
    color: $singlepostCaption;
    margin-bottom: 1em;
}

// Video PLayers

.singlepost_twitch {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.singlepost_youtube {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

// Comments

.singlepost_display_comments {
    display: block;
    border-left: 1px solid #eaeaea;
}

.singlepost_display_comment {
    margin-left: 5px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fafafa;
}

.singlepost_comments_title {
    display: block;
    @include SinglePagePostsTitle;
    margin-bottom: 0.5em;
}

.singlepost_comment_author_info {
    @include SinglePagePostsText;
    font-weight: 400;
}

.singlepost_comment_author {
    @include SinglePagePostsText;
    font-weight: 500;
    & a {
        font-weight: 400;
    }
}

.singlepost_comment_date {
    color: #afafaf;
}

.singlepost_comment_body {
    @include SinglePagePostsText;
    color: #1a1a1a;
    margin-bottom: 1rem;
}


.replybutton {
    text-decoration: underline;
    cursor: pointer;
    color: #afafaf;
}

.singlepost_reply.reply {
    margin-left: 0;
    margin-top: 1em;
}


.singlepost_comment_textarea {
    display: block;
    height: 5rem;
    width: 28rem;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: auto;
    outline-color: #afafaf;
    resize: vertical;
}

.singlepost_comment_button {
    display: block;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-transform: none;
    overflow: visible;
}

.btn-color {
    background-color: $singlepostReplyButton;
    border-color: $singlepostReplyButton;
    box-shadow: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: $white;
}

.singlepost_form {
    display: block;
    margin-bottom: 1rem;
}

.singlepost_comment_form_group {
    display: block;
}