@media screen and (max-width: 992px) {

    .main-section__category-container {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 768px) {

    .main-section__category-post-title-link {
        font-size: 18px;
        line-height: 20px;
    }

    .main-section__category-post-desc {
        font-size: 14px;
        line-height: 14px;
    }

}

@media screen and (max-width: 576px) {

    .main-section__category-post-date {
        font-size: 13px;
        line-height: 8px;
    }

    .main-section__category-post-cat {
        font-size: 13px;
        line-height: 8px;
    }

    .main-section__category-post-img {
        width: 163px;
    }

    .category_post_icon {
        width: 20px;
    }

}

@media screen and (max-width: 500px) {

    .main-section__category-post-info-wrp {
        justify-content: space-evenly;
    }

    .main-section__category-post-title-link {
        font-size: 15px;
    }

    .main-section__category-post-desc {
        font-size: 14px;
    }

    .main-section__category-post-img {
        width: 120px;
    } 

    .main-section__category-post-info {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    
    .main-section__category-post-img {
        display: none;
    }
    
}