.singlepost-title {
    display: block;
    width: 100%;
}

.singlepost-title__h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.singlepost-title__h1_margin {
    margin-left: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}