.login__main-section {
    margin: 0;
}

.login__main-section_padding {
    padding-top: 100px;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.login__form-body {
    display: block;
    box-sizing: border-box;
}

.login__form-title {
    display: flex;
    justify-content: flex-start;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    height: auto;
    padding: 0;
    margin: 0;
}

.login__form-title_margin {
    margin-bottom: 10px;
}


.login__form-row {
    display: block;
}

.login__form-row_margin {
    margin-bottom: 20px;
}

.login__form-text {
    display: block;
    width: 100%;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.login__form-text_margin {
    margin-top: 5px;
    margin-bottom: 10px;
}

.login__form-label {
    display: block;
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}

.login__form-label_margin {
    margin-bottom: 5px;
}

.login__form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.login__form-input-container_row {
    flex-direction: row;
    align-items: center;
}

.login__form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-family: 'Jost';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

.login_form-control-is-invalid {
    color: #212529;
    background-color: #fff;
    border-color: #FF0000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #FF0000;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%);
    }
}

.login__form-invalid-feedback {
    display: block;
    font-family: 'Jost';
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    color: #FF0000;
}

.login__form-invalid-feedback_margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.login__form-check-input {
    box-sizing: border-box;
    border: 1px solid #ced4da;
}

.login__form-check-label {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
}

.login__btn-submit {
    display: block;
    cursor: pointer;
    font-family: 'Jost';
    font-size: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    background-color: #FF0000;
    color: #fff;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #ca0303;
    }
}

.login__btn-submit_font-size-change {
    font-size: 14px;
}

.login__forgot-password-link {
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    color: #000;
    &:hover {
        color: #FF0000;
    }
}

.login__alert {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: 'Jost';
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
}

.login__alert_success {
    color: rgb(40, 173, 0);
}

.login__alert_margin {
    margin-bottom: 20px;
}