/* Variables */

/* Common variables */

// Measures

$header-height: 56px;
$login-menu-width: 150px;

// Backgrounds colors

$header-color: #000;
$login-submenu-background: #000;

// Text colors

$logo: #fff;
$nav-link: #fff;
$login-link: #fff;
$login-link-hover: #FF0000;
$logout-link: #fff;
