/* Variables */

/* Common variables */

// Measures

$header-height: 56px;
$login-menu-width: 150px;

// Backgrounds colors

$body-background-color: #F4F4F4;
$header-color: #000;
$login-submenu-background: #1e1f21;
$gradient-in-slider-for-items: #000;
$slider-container-color: #fff;
$slider-items-background: #FF0000;
$slider-arrows-background: rgba(0,0,0,.6);
$slider-dots-background: #fff;
$slider-dots-active-background: #FF0000;
$upcoming-events-arrows-background: #fff;
$main-section-container-background: #fff;
$main-section-post-game-category-background: #fff;
$main-section-post-category-background: #fff;
$load-more-button-background: #FF0000;
$full-width-banner-bg: rgba(0,0,0,.4);
$full-width-banner-button-bg: #fff;
$coverages-post-bg: rgba(0,0,0,.4);
$coverages-game-category-img: #EBE9E9;
$coverages-post-video: rgba(255,255,255,.4);
$footer-container: #F1F1F1;
$footer-copyright-background: #000;

// Text colors

$logo: #fff;
$nav-link: #fff;
$nav-link-hover: #FF0000;
$login-link: #fff;
$login-link-hover: #FF0000;
$logout-link: #fff;
$slider-arrows-color: #fff;
$slider-title-color: #fff;
$slider-button-color: #fff;
$main-section-post-category: #000;
$main-section-post-info-title: #000;
$main-section-post-info-title-hover: #FF0000;
$main-section-post-info-desc: #000;
$main-section-post-date: #000;
$main-section-post-link: #FF0000;
$button-load-more-color: #fff;
$full-width-banner-title: #fff;
$full-width-banner-desc: #fff;
$full-width-banner-button: #000;
$full-width-banner-button-icon: #000;
$coverages-post-title: #fff;
$coverages-post-title-hover: #FF0000;
$coverages-post-date: #fff;
$coverages-icon-video-play: #fff;
$coverages-icon-video-play-hover: #FF0000;
$footer-grid-list-item-color: #000;
$footer-copyright-color: #fff;
$footer-links-color: #fff;

// Borders color 

$main-section-post-item-border: #D8D8D8;