.upcoming-events {
    padding: 0;
}

.upcoming-events__container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #D3D3D3;
}

.upcoming-events__title {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    text-align: center;
}

.upcoming-events__widget-arrow-left {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 54px;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.upcoming-events__material-icons-widget-arrow-left {
    width: 20px;
}

.upcoming-events__widget-arrow-right {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 54px;
    border-left: 1px solid #D3D3D3;
}


.upcoming-events__widget-list {
    display: block;
    list-style: none;
    overflow: hidden;
    max-width: 921px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F3F1F1;
}

.upcoming-events__widget-container {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 5px;
    transition: all 0.3s ease;
}

.upcoming-events__widget-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    width: 250px;
    max-height: 70px;
    background-color: #fff;
    &:first-child {
        border-right: 1px solid #D3D3D3;
    }
    &:not(:first-child) {
        border-left: 1px solid #D3D3D3;
        border-right: 1px solid #D3D3D3;
    }
}

.upcoming-events__widget-race-league {
    display: block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
}

.upcoming-events__widget-name-race {
    display: block;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
}

.upcoming-events__widget-name-race_margin {
    margin-top: 5px;
}

.upcoming-events__widget-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming-events__widget-info_margin {
    margin-top: 5px;
}

.upcoming-events__widget-date {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.upcoming-events__widget-date_margin {
    margin-right: 10px;
}